.root {
    -fx-base: white;
}
.button {
    -fx-base: white;
    -fx-alignment: center;
}
.button:hover {
    -fx-base: lightgray;
    -fx-text-fill: black;
}

#buttonCorrect {
    -fx-base: green;
    -fx-alignment: center;
}

#buttonWrong {
    -fx-base: red;
    -fx-alignment: center;
}