.root {
    -fx-base: white;
}
.button {
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-alignment: center;
}
.button:hover {
    -fx-border-color: gray;
    -fx-text-fill: black;
}

.buttonCorrect {
    -fx-border-color: green;
    -fx-text-fill:green;
    -fx-border-width: 2;
    -fx-alignment: center;
}

.buttonWrong {
    -fx-border-color: red;
    -fx-text-fill: red;
    -fx-border-width: 2;
    -fx-alignment: center;
}